@model IEnumerable<TelefonRehberiProjeOdevi.Models.CalisanSayisi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
    <!-- Breadcrumbs-->
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Çalışanlar Tablosu
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Unvan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sayisi)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unvan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sayisi)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Son güncelleme at 11:59 PM</div>
    </div>
</div>
